{{define "content"}}
    <div class="hidden">
        {{csrfField}}
    </div>
    <h2 class="font-semibold text-lg">Welcome to your account {{.User.Email}}</h2>
    <p>Your session id is {{.SessionID}}</p>
{{end}}